.logo {
  max-height: 40px;
  width: auto;
  display: block;
  object-fit: contain;
}
.titlebar {
  font-size: 1.125rem;
  line-height: 1.25;
  word-break: keep-all;
  background-color: var(--color-secondary);
  /*border-bottom: 1px solid var(--color-primary);*/
  box-shadow: 0 3px 0 rgba(0,0,0,0.08);
  padding: 0.75rem 1rem;
}
.iu-logo {
  width: 120px;
}
.umcatla-logo {
  border-radius: 20px;
}

@media (max-width: 576px) {
  .logo {
    max-height: 28px;
  }
  .title {
    font-size: 1.125rem;
    line-height: 1.25;
    word-break: keep-all;
  }
}
@media (max-width: 380px) {
  .title {
    font-size: 1rem;
  }
}
